<div>
    <div>Total Pokemon: {{ pokemons.count }}</div>
    <button (click)="getNewFetch(pokemons.previous)">Previous page</button>
    <button (click)="getNewFetch(pokemons.next)">Next page</button>
    <div>Results (24 per page):</div>
    <ul class="cardList">
        <li class="cardListItem" *ngFor="let pokemon of pokemons.results">
            <div class="cardBorderBig" (click)="getDetailPage(pokemon.url, pokemon.name)">
                <img class="cardBorderSmall" src="{{getIdAndImage(pokemon.url).image}}" alt="notFound"/>
                <span class="cardText">No.{{ getIdAndImage(pokemon.url).id }}: {{ pokemon.name }}</span>
            </div>
        </li>
    </ul>
</div>