<form #createForm="ngForm" (ngSubmit)="loginSubmit(createForm)">
    <label for="trainerName">Trainer Name</label>
    <input  class="loginStyle" type="text" 
            [ngClass]="{ 'is-valid': trainerName.valid }"
            id="trainerName" 
            name="trainerName" 
            ngModel #trainerName="ngModel"
            required 
            minlength="2"
            pattern="[a-zA-Z0-9][a-zA-Z0-9 ]*[a-zA-Z0-9]"
            placeholder="Only use letters, numbers & spaces in between!"/>
    <p></p>
    <button type="submit" 
            [disabled]="createForm.invalid">Login</button>
</form>
