<main>
    This is where the details section will be
    <p></p>
    <button (click)="collectMon()">Collect</button>
    <p></p>
    <div class="border">
        <h2>Base stats</h2>
        <img [src]="detailsImage"/>
        <p></p>
        <span>Types: </span>
            <span *ngFor="let entry of details.types">
                <span>{{ entry.type.name }}, </span>
            </span>
        <p>Name: {{ details.name }}</p>
    </div>
    <p></p>
    <div class="border">
        <h2>Profile</h2>
        <p>Height: {{ details.height }}</p>
        <p>Weight: {{ details.weight }}</p>
        <span>Abilities: </span>
            <span *ngFor="let entry of details.abilities">
                <span>{{ entry.ability.name }}, </span>
            </span>
        <p>Base Experience: {{ details.base_experience }}</p>
        <p></p>
    </div>
    <div class="border">
        <h2>Moves</h2>
        <span *ngFor="let entry of details.moves">
            <p>{{ entry.move.name }} (level {{ entry.version_group_details[0].level_learned_at }}),</p>
        </span>
    </div>
</main>