<header>
    <h1>Pokemon Trainer App</h1>
</header>
<nav>
    <a class="navBar" routerLink="/trainer">Trainer page</a>
    <a class="navBar" routerLink="/catalogue">Catalogue page</a>
</nav>
<router-outlet></router-outlet>
<footer>
    
</footer>