<div>
    <div>Collected Pokemon: {{ namesCollected.length }}</div>
    <ul class="cardList">
        <li class="cardListItem" *ngFor="let in of counter(namesCollected.length) ; let i = index">
            <div class="cardBorderBig" 
                (click)="getDetailPage(pokemonCollected[i], imagesCollected[i], namesCollected[i])">
                <img class="cardBorderSmall" src="{{imagesCollected[i]}}" alt="notFound"/>
                <span class="cardText">No.{{ pokemonCollected[i] }}: {{ namesCollected[i] }}</span>
            </div>
        </li>
    </ul>
</div>