.cardBorderSmall {
    width: 10vw;
    height: 10vw;
    margin-left: 2vw;
    margin-right: 2vw;
}

.cardBorderBig {
    height: 15vw;
    width: 14vw;
}

.cardListItem {
    border: 5px solid gold;
    display: inline;
    float: left;
    margin: 1vw, 1vw, 1vw, 1vw;
}

.cardText {
    margin-left: 10%;
    margin-right: 10%;
}